<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <!-- setting security configurations -->
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>file</realm-name>
    </login-config>

    <security-role>
        <role-name>employee</role-name>
    </security-role>

    <!-- so that username and password is supplied to access the resource. -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>SecurityApplicationResource</web-resource-name>
            <url-pattern>/SecurityServlet</url-pattern>
        </web-resource-collection>

        <!--enable security constraint -->
        <auth-constraint>
            <description/>
            <role-name>employee</role-name>
        </auth-constraint>
    </security-constraint>

</web-app>
